<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Tomolink</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/tailwind.output.css}" />
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
</head>
<body>
<!-- Navigation-->
<div th:replace="common/top :: common_header">
</div>
<!-- Masthead-->
<header class="masthead" style="background: url('../assets/img/bg-masthead.jpg') no-repeat center;
height:20vh;">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Icons Grid-->
<section class="features-icons bg-light">
    <div class="container">
        <div class="form-group mb-4">
            <span style="font-weight:bold; font-size:25px;" th:text="${friendSearch.title}"></span>
        </div>
        <div class="form-group mt-4 mb-5 bg-light rounded-3">
            <textarea class="form-control" style="border:none; background-color:#F4F4F4" name="contents" th:text="${friendSearch.contents}" readonly></textarea>
        </div>
        <p style="font-weight:bold; font-size:15px; color:">전체 댓글</p>
        <table class="w-full whitespace-no-wrap table" id="comments">
            <thead>
                <tr>
                    <th class="px-4 py-3" style="width:10%"></th>
                    <th class="px-4 py-3" style="width:90%"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="friendSearchComment : ${friendSearchComments}">
                    <td class="px-4 py-3 text-sm" style="font-weight:bold;" th:text="${friendSearchComment.name}"></td>
                    <td class="px-4 py-3 text-sm" th:if="${friendSearchComment.isVisible}" th:text="${friendSearchComment.contents}"></td>
                    <td class="px-4 py-3 text-sm" th:unless="${friendSearchComment.isVisible}" >비밀 댓글 입니다.</td>
                </tr>
            </tbody>
        </table>
        <form class="row mt-5" th:action="@{/friend-search-comments}" method="post">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="댓글을 남겨주세요 (자물쇠 비밀 댓글 남기기)" name="contents" aria-describedby="basic-addon2">
                <input type="text" name="postId" hidden="hidden" th:value="${friendSearch.id}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" name="isSecret" value="0">남기기</button>
                    <button class="btn btn-outline-secondary" type="submit" name="isSecret" value="1"><i class="fa fa-lock"></i></button>
                </div>
            </div>
        </form>
    </div>
</section>
<footer th:replace="common/footer :: common_footer">
</footer>
<!-- Jquery Import -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
<script th:src="@{/js/friends.js}"></script>
</body>
</html>
